{% extends 'user_order/index.html.twig' %}

{% block card_content %}

    {% include 'user_order/steps_order.html.twig' %}

    <p class="title has-text-centered">Total commande: {{ totalProductsEUR }}€ / {{ totalProductsXMR }} XMR</p>

    <div class="field">
        <div class="control">
            <label class="label">Adresse Monero de paiement</label>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" value="44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A" readonly>
                </div>
                <div class="control">
                    <button type="submit" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
                </div>
            </div>
        </div>
    </div>

<div class="field">
    <div class="control">
        <label class="label">Paiement ID</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" value="{{ userOrder.paiementId }}" readonly>
            </div>
            <div class="control">
                <button type="submit" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="label">Montant en Monero à envoyer</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" value="{{ totalProductsXMR }}" readonly>
                <p class="help is-dark">1 XMR = {{ moneroPrice }}€</p>
            </div>
            <div class="control">
                <button type="submit" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
            </div>
        </div>
    </div>
</div>

    <hr>

    <div class="field is-grouped">
        <p class="control">
            <a class="button is-success" href="{{ path('user_order_confirm', {'paymentId': userOrder.paiementId}) }}">
                <i class="fas fa-check-circle"></i> Paiement effectué
            </a>
        </p>
    </div>

{% endblock %}
