{% extends 'user_order/index.html.twig' %}

{% block card_content %}

    {% include 'user_order/steps_order.html.twig' %}

    {% set totalProductsXMR = totalProductsEUR/moneroPrice %}

    <p class="title has-text-centered">Total commande: {{ totalProductsEUR }}€</p>

    <div class="field">
        <div class="control">
            <label class="label">Adresse Monero de paiement</label>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" type="text" id="inputXMRAdress" value="{{ xmrAdress }}" readonly>
                </div>
                <div class="control">
                    <button onclick="copy('inputXMRAdress')" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
                </div>
            </div>
        </div>
    </div>

<div class="field">
    <div class="control">
        <label class="label">Paiement ID</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" id="inputPaiementId" value="{{ userOrder.paiementId }}" readonly>
            </div>
            <div class="control">
                <button onclick="copy('inputPaiementId')" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <div class="control">
        <label class="label">Montant en Monero à envoyer</label>
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" id="inputXMRPrice" value="{{ totalProductsXMR|round(4, 'floor') }}" readonly>
                <p class="help is-dark">1 XMR = {{ moneroPrice }}€</p>
            </div>
            <div class="control">
                <button onclick="copy('inputXMRPrice')" class="button is-dark"><i class="fas fa-copy"></i>Copier</button>
            </div>
        </div>
    </div>
</div>

    <hr>

    <div class="field is-grouped">
        <p class="control">
            <a class="button is-success" href="{{ path('user_order_confirm', {'paymentId': userOrder.paiementId}) }}">
                <i class="fas fa-check-circle"></i> Paiement effectué
            </a>
        </p>
    </div>

    <script>
        function copy(id) {
            document.getElementById(id).select();
            document.execCommand('copy');
        }
    </script>

{% endblock %}
